<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />      
    </startup>
    <connectionStrings>
      <clear />
      <add name="default"
       providerName="System.Data.ProviderName"
       connectionString="Data Source=194.58.121.211;Initial Catalog=LiderNK;Persist Security Info=True;User ID=nktest_winapp;Password=HS8ZTa!TYKS5EB;" />
    </connectionStrings>
</configuration>